<%- include("includes/header.ejs") %>

<h1>Hwello Wroelsd</h1>

<button id="create-post"><a href="/create-post">Create Post</a></button>

<%- include('includes/menu.ejs') %>





<%- include('includes/footer.ejs')%>